@model IEnumerable<QLKS_3TL.Data.NhanVien>
@{
    ViewData["Title"] = "Quản lý nhân viên";
}
<div class="main" id="content">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav justify-content-between" style="width: 1380px;">
                <li>
                    <h2 style="font-weight: bolder;">Thông tin nhân viên</h2>
                </li>
                @await Html.PartialAsync("~/Areas/Admin/Views/DoiMatKhau/Index.cshtml")
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-3">
        <div class="container-fluid">
            <div>
                <div class="row justify-content-between mx-1 mb-4">
                    <div class="input-group d-flex align-items-center border border-dark rounded"
                         style="width: 300px;padding: 0;">
                        <i class="fa-solid fa-magnifying-glass fa-1x ms-2 "></i>
                        <input type="text" class="form-control input-border" id="timKiemNhanVien" placeholder="Thông tin nhân viên"
                               aria-label="Username" aria-describedby="basic-addon1" style="border: 0;">
                    </div>
                    <button class="btn btn-success" id="btnThemNhanVien"
                            style="width: 135px; font-size: small;">
                        Thêm nhân
                        viên
                    </button>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <table class="table">
                            <thead style="background: #0e2238;">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Căn cước công dân</th>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Giới tính</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Chức vụ</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="tblBodyNhanVien">
                                <!--code hàm LoadNhanVien() sẽ vào đây-->
                                @{
                                    var soThuTu = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr class="row-item">
                                        <th scope="row">@soThuTu</th>
                                        <td class="me-2">@item.Cccd</td>
                                        <td>@item.HoTen</td>
                                        <td>@item.GioiTinh</td>
                                        <td>@item.SoDienThoai</td>
                                        <td>@item.ChucVu</td>
                                        <td>@item.DiaChi</td>
                                        <td class="d-flex justify-content-end">
                                            <a class="cusor me-2 mt-1 chitietBtn" onclick="ChiTietNhanVien('@item.MaNhanVien')"
                                               style="color: darkblue; font-style: italic; text-decoration: underline;">
                                                Chi tiết
                                            </a>
                                            <button type="button" class="btn btn-warning me-2 edit-btn" id="btnUpdateNhanVien" onclick="LoadModalUpdate('@item.MaNhanVien')"
                                                    style="font-size: small;">
                                                Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger" onclick="DeleteNhanVien('@item.MaNhanVien')" style="font-size: small;">
                                                Xóa
                                            </button>
                                        </td>
                                    </tr>
                                    soThuTu++;
                                    <!-- Tăng biến số thứ tự sau khi render mỗi dòng -->
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Modal thêm nhân viên -->
    @await Html.PartialAsync("ModalCreate")
    <!-- Modal chi tiết -->
    @await Html.PartialAsync("ModalChiTiet")

    <!-- Modal sửa -->
    @await Html.PartialAsync("ModalUpdate")
</div>
